/*GLOBAL STYLE*/
*{
    font-family: Arial, Helvetica, sans-serif;
}
body {
  color: #5a5a5a;
  margin-top: 50px;
}
a:hover {
  color: seagreen;
}
nav {
  background-color: #CCC;
}
/*brand logo style*/
.navbar-header > a > img {
  height: 50px;
  /*border-radius: 50% 50%;*/
}
/* CUSTOMIZE THE CAROUSEL */
.carousel {
  height: 300px;
  margin-bottom: 10px; 
}
.carousel-caption {
  z-index: 10;
}

.carousel .item {
  height: 300px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 300px;
}

/*FOOTER STYLE*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
  padding: 10px 15px;
}