/*GLOBAL STYLE*/
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  color: #5a5a5a;
  margin-top: 60px;
}
/*NAV BAR*/
.navbar {
  height: 60px;
  min-height: 60px 
}
.navbar-brand > img {
  height: 32px;
  margin-right: 3px;
  display: inline;
}
/* CUSTOMIZE THE CAROUSEL */
.carousel {
  height: 300px;
}
.carousel-caption {
  z-index: 10;
  vertical-align: center;
}

.carousel .item {
  height: 300px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 300px;
}
.newsbar {
    background-color: #eee;
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}
/*FOOTER STYLE*/
.footer {
  position: absolute;
  /*bottom: 0;*/
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #eee;
  padding: 10px 15px;
}